* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
}

body {
    background-color: #323232;
    user-select: none;
}

.currencies {
    color: #fafafa;
    height: 3.5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;

    .currency {
        display: flex;
        flex-direction: row;
        height: 2.5rem;
        line-height: 2.5rem;
    
        .icon {
            height: 2.5rem;
            width: 2.5rem;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.progress-bar {
    min-width: 15rem;
    width: 30rem;
    height: 2.5rem;
    border: 0.1rem solid #fafafa;
    border-radius: 0.3rem;
    background-color: transparent;
    overflow: hidden;
    padding: 0.13rem;

    .progress {
        width: 67%;
        background-color: #121212;
        height: 100%;
        position: relative;
        transition: all 0s, width 0.21s;
        
    }

    p {
        color: #fafafa;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button {
        border: 2px solid white;
        border-radius: 2px;
        background-color: transparent;
        color: #fafafa;
        display: none;
        position: absolute;
        font-weight: bold;
        cursor: pointer;
        top: 50%;
        right: 0.2rem;
        transform: translateY(-50%);
        padding: 0.2rem 0.4rem;
        transition: 0.21s;

        &:hover {
            background-color: #fafafa;
            color: #121212;
            border-color: transparent;
        }
    }
}



.coin-drop {
    width: 60px;
    height: 60px;
    overflow: hidden;
    animation: coin-drop 0.42s linear 0s 1 normal forwards;
    position: fixed;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    @keyframes coin-drop {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(0.67);
            opacity: 0;
        }
    }
}


.upgrades {
    width: 92vw;
    max-height: 42vw;
    margin: 0 4vw;
    background-color: #323232;
    color: #fafafa;
    // box-shadow: 0px 0px 2px 3px #fafafa;
    // border: 2px solid #fafafa;
    border-radius: 7px;
    padding: 5px;
    overflow: hidden;
    // box-shadow: 0 4px 14px -14px #fafafa;
}

.upgrades-list {
    // width: 92vw;
    // margin: 0 4vw;
    max-height: 100%;
    background-color: #323232;
    color: #fafafa;
    // box-shadow: 0px 0px 2px 3px #fafafa;
    // border: 2px solid #fafafa;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 4px;
    padding: 5px;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 5px;
        height: 0;
        border: 2px solid #121212;
        border-top: none;
        border-bottom: none;
    }

    .upgrade {
        display: flex;
        flex-direction: row;

        .upgrade-details {
            flex: 1;
            display: flex;
            flex-direction: column;

            .upgrade-name {
                font-weight: bold;
                font-size: 1.1rem;
            }

            .upgrade-description {
                font-size: 0.9rem;
            }
        }

        .upgrade-buy {
            width: 126px;
            height: 42px;
            border-radius: 4px;
            background-color: #242424;
            border: 1px solid #121212;
            color: #fafafa;
            cursor: pointer;
            transition: 0.13s;

            &:hover {
                border-color: #fafafa;
                transform: scale(0.97)
            }
        }

        .upgrade-stats {
            display: none;
        }
    }
}