* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

.currencies {
    height: 3.5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;

    .currency {
        display: flex;
        flex-direction: row;
        height: 2.5rem;
        line-height: 2.5rem;
    
        .icon {
            height: 2.5rem;
            width: 2.5rem;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.progress-bar {
    min-width: 15rem;
    width: 30rem;
    height: 1.5rem;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    background-color: transparent;
    overflow: hidden;

    .progress {
        width: 67%;
        background-color: #323232;
        height: 100%;
        position: relative;
        
    }

    p {
        color: #fafafa;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}