* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

body {
    user-select: none;
}

.currencies {
    height: 3.5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;

    .currency {
        display: flex;
        flex-direction: row;
        height: 2.5rem;
        line-height: 2.5rem;
    
        .icon {
            height: 2.5rem;
            width: 2.5rem;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.progress-bar {
    min-width: 15rem;
    width: 30rem;
    height: 2.5rem;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    background-color: transparent;
    overflow: hidden;
    padding: 0.13rem;

    .progress {
        width: 67%;
        background-color: #323232;
        height: 100%;
        position: relative;
        transition: all 0s, width 0.21s;
        
    }

    p {
        color: #fafafa;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button {
        border: 2px solid white;
        border-radius: 2px;
        background-color: transparent;
        color: #fafafa;
        display: none;
        position: absolute;
        font-weight: bold;
        cursor: pointer;
        top: 50%;
        right: 0.2rem;
        transform: translateY(-50%);
        padding: 0.2rem 0.4rem;
        transition: 0.21s;

        &:hover {
            background-color: #fafafa;
            color: #121212;
            border-color: transparent;
        }
    }
}



.coin-drop {
    width: 60px;
    height: 60px;
    overflow: hidden;
    animation: coin-drop 0.42s linear 0s 1 normal forwards;
    position: fixed;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    @keyframes coin-drop {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(0.67);
            opacity: 0;
        }
    }
}